@import "./variables";

.app-container {
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  height: 100vh;

  font-family: "Montserrat", sans-serif;
}
