@import "./variables";

.app-container {
  background: var(--background-gradient);
  color: var(--text-color);
  box-shadow: var(--box-shadow);

  font-family: "Montserrat", sans-serif;

  scroll-behavior: smooth;
}

.text-gradient {
  background-image: var(--primary-gradient);
  color: transparent;
  background-clip: text;
}

.footer {
  background: var(--footer-gradient);
}