:root {
  --primary-color: #2078ec;
  --primary-gradient: linear-gradient(90deg, #20ecec 47%, #1d1286 100%);
  --accent-color: #3e20ec;

  --background-color: #121212;
  --background-gradient: linear-gradient(
    90deg,
    #1e1e1e,
    var(--background-color)
  );

  --footer-gradient: linear-gradient(
    90deg,
    #1d1d1d 0%,
    var(--background-color) 100%
  );

  --text-color: #fff;
  --text-subtitle: #b9b9b9;

  --navbar-background-color: rgba(0, 0, 0, 0.1);

  --service-card-background: rgba(69, 67, 67, 0.25);
  --service-card-background-highlight: rgba(169, 168, 175, 0.15);
  --service-card-border: #ffffff;
}
