@import "tailwindcss";
/* Latest Tailwind Release bug -> when tailwind thinks screen is touch - which mine is - it disables hover. */
@custom-variant hover (&:hover);
@plugin "@tailwindcss/typography";

@theme {
  --color-swisscom: #0072b8;

  --animate-typewriter: typewriter 2s steps(11) forwards;

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
}

html,
body {
  background-color: #0a0a0a;
  margin: 0;
  padding: 0;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-pulse-fast {
  animation: blink 0.8s step-end infinite;
}
