.navbar {
  background-color: var(--navbar-background-color);
  position: sticky;

  .nav-items {
    .nav-item {
      width: fit-content;
      max-width: 100%;
      a {
        font-size: 18px;
        color: var(--text-subtitle);
        transition: color 0.5s ease, border-color 0.5s ease;
        display: flex;
        align-items: center;
      }

      a:hover {
        color: var(--primary-color);
      }

      a.active {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
      }
    }
  }
}
