.navbar {
  background-color: var(--navbar-background-color);
  position: sticky;

  .nav-items {
    .nav-item {
      width: fit-content;
      max-width: 100%;

      a {
        font-size: 18px;
        color: var(--text-subtitle);
        display: flex;
        align-items: center;

        transform: translateY(0);
        transition: color 0.5s ease, border-color 0.5s ease, transform 0.3s ease-in-out;
      }

      a:hover,
      a.active {
        color: var(--primary-color);
      }

      @media (max-width: 1024px ) {
        a:hover,
        a.active {
          transform: none; /* stop the bouncing */
        }
      }

    }
  }
}
