name: Deployment Portfolio
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Docker
        run: |
          docker compose -f /opt/docker/websites/swisscom/react-portfolio/docker-compose.yml pull
          docker compose -f /opt/docker/websites/swisscom/react-portfolio/docker-compose.yml up -d --build
