name: Deployment Portfolio - self Hosted
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Docker
        run: |
          git config --global --add safe.directory /opt/docker/websites/swisscom/react-portfolio

          cd /opt/docker/websites/swisscom/react-portfolio/

          git pull origin main

          docker compose -f compose.yml up -d --build
